# --- Build output ---
build/
*/build/
*.o
*.d
*.elf
*.bin
*.hex
*.map
*.lst

# --- CMake ---
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
build.ninja
CMakePresets.json

# --- IDE / VSCode ---
.vscode/
.idea/
*.code-workspace

# --- STM32 / CubeIDE ---
*.launch
*.log
*.uvoptx
*.uvprojx
*.ioc

# Ignore Startup folder
Startup/


# --- OS / Misc ---
.DS_Store
Thumbs.db
*.swp
*.tmp
TODO.txt
